* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #727272;
    --cor-secundaria: #ffffff;
    --gradiente-inicio: #000;
    --gradiente-fim: #7504b6;
}

header {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
    background-color: #5e5d5db4;
}

body {
    background: linear-gradient(135deg, var(--gradiente-inicio), var(--gradiente-fim));
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.body h1, h2, p, ul, li {
    color: white;
}

.container-principal {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.card1 a {
    display: inline-block;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background: linear-gradient(90deg, --cor-primaria, --cor-secundaria);
    transition: 0.3s;
}

.card1 a:hover {
    background: linear-gradient(90deg, #2575fc, #689cfc);
}

.card2 {
    background-color: #727272;
}

.card2 a {
    display: inline-block;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background: linear-gradient(90deg, --cor-primaria, --cor-secundaria);
    transition: 0.3s;
}

.card2 a:hover {
    background: linear-gradient(90deg, #2575fc, #689cfc);
}

.card3 a {
    display: inline-block;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background: linear-gradient(90deg, --cor-primaria, --cor-secundaria);
    transition: 0.3s;
}

.card3 a:hover {
    background: linear-gradient(90deg, #2575fc, #689cfc);
}