<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Q2Itapema/pagina.css">
    <title>Itapema</title>
</head>

<body>

    <header class="cabecalho">
        <div class="logo">
            Itapema
        </div>

        <nav>
            <ul>
                <li><a href="#">Novidades</a></li>
                <li><a href="#">Sandálias</a></li>
                <li><a href="#">Kids e Baby</a></li>
                <li><a href="#">Outlet 50% Off</a></li>
                <li><a href="#">Sustentabilidade</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="breadcrumb">
            Home &gt; Kids e Baby &gt;
            <strong>Sandália de dedo Ipanema Temas Infantil</strong>
        </div>

        <article class="produto">

            <section class="galeria">

                <div class="miniaturas">
                    <img src="/assets/imagens/praia/Gemini_Generated_Image_fsirwkfsirwkfsir.jpg" alt="miniatura1">
                    <img src="/assets/imagens/praia/Gemini_Generated_Image_2yi8992yi8992yi8.jpg" alt="">
                </div>

                <div class="imagem-principal">

                    <span class="desconto">
                        50% OFF
                    </span>
                    <img src="/assets/imagens/praia/Gemini_Generated_Image_67rx1c67rx1c67rx.jpg" alt="principal">
                </div>
            </section>

            <section class="informacoes">
                <h1>Sandália de dedo Ipanema</h1>
                <p class="codigo">Cód: 25479</p>

                <div class="preco">
                    <span class="preco-antigo">R$22,99</span>
                    <strong>R$11,49</strong>
                </div>
                <p class="parcelamento">1 x R$11,49 s/juros no cartão de crédito</p>

                <div class="opcao">
                    <h3>Cor</h3>

                    <div class="cores">
                        <button>
                            <img src="/assets/imagens/praia/Gemini_Generated_Image_q15ygvq15ygvq15y.jpg" alt="cor2">
                        </button>
                        <button>
                            <img src="/assets/imagens/praia/Gemini_Generated_Image_w6mwc7w6mwc7w6mw.jpg" alt="cor_branco">
                        </button>
                        <button>
                            <img src="/assets/imagens/praia/Gemini_Generated_Image_y01sqvy01sqvy01s.jpg" alt="cor_branco3">
                        </button>
                    </div>

                    <p>Cor Cinza</p>

                </div>

                <div class="opcao">
                    <h3>Tamanhos</h3>

                    <div class="tamanhos">
                        <button>23/24</button>
                        <button>25/26</button>
                        <button>27/28</button>

                        <button class="selecionado">
                            29/30
                        </button>

                        <button>31/32</button>
                        <button>33/34</button>

                    </div>
                </div>

                <button class="comprar">
                    Comprar
                </button>

                <section class="descricao">

                    <h2>Descrição</h2>

                    <p>
                        Com motivos que se conectam ao universo
                        infantil, como o divertido circo e elementos
                        da estrada, com placas e sinais, o lançamento
                        da Ipanema Temas é garantia de sucesso entre
                        os pequenos.
                    </p>

                </section>

            </section>

        </article>

        <section class="beneficios">

            <h2>
                Menos impacto no planeta, mais acessível pra todas
            </h2>

            <div class="beneficios-grid">

                <article class="beneficio">
                    <div class="icone">♡</div>
                    <strong>VEGANA</strong>
                </article>

                <article class="beneficio">
                    <div class="icone">♻</div>
                    <strong>RECICLÁVEL</strong>
                </article>

                <article class="beneficio">
                    <div class="icone">⚙</div>
                    <strong>FÁBRICA ECOEFICIENTE</strong>
                </article>

                <article class="beneficio">
                    <div class="icone">◇</div>
                    <strong>FEITA NO BRASIL</strong>
                </article>

                <article class="beneficio">
                    <div class="icone">♧</div>
                    <strong>EM MÉDIA 30% RECICLADA</strong>
                </article>

                <article class="beneficio">
                    <div class="icone">☁</div>
                    <strong>BAIXA EMISSÃO DE CARBONO</strong>
                </article>

            </div>

        </section>

    </main>

</body>

</html>