* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg,#000000,#7504b6);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.video-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
}

.video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.video-card p {
    margin-top: 10px;
    color: #000;
    text-align: center;
}
