<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/C/style.css">
    <title>Tipos</title>
</head>

<body>

    <main>
        <div class="container">
            <section class="coluna">
                <h1>MV Agusta</h1>
                <p>A MV Agusta é uma tradicional fabricante italiana de motocicletas de alta gama, fundada em 19 de
                    janeiro de 1945 pelo Conde Domenico Agusta em Cascina Costa, perto de Milão, na Itália.</p>
                <img src="https://i.pinimg.com/736x/78/c1/13/78c1137e16d58e1ebe03012ebcb50e9d.jpg" alt="img1">

                <p>• O Retorno da Brutale: A linha Naked celebra seu 25º aniversário com a nova Brutale 950 (Série
                    Euro). Ela vem equipada com o renovado motor tricilíndrico 950 EVO de 148 cavalos e componentes em
                    ouro e fibra de carbono.
                    • Edições Limitadas: A marca lançou recentemente a impressionante Rush Titanio, uma hyper-naked
                    limitada a apenas 300 unidades mundiais.
                    • O Fim do Acordo com a CFMOTO: Em contrapartida ao sucesso com a Yamaha, a CFMOTO rompeu as
                    negociações de uma antiga parceria financeira que mantinha com a MV Agusta, deixando a fábrica
                    italiana focada em reestruturações internas com o grupo Pierer Mobility (KTM).</p>

                <button class="btn">Ler mais</button>
            </section>

            <section class="coluna">
                <h1>CFMOTO</h1>
                <p>. Ela se consolidou no mercado global por meio de uma forte parceria estratégica com a marca
                    austríaca KTM, compartilhando motores e centros de design. Recentemente, a marca iniciou a expansão
                    oficial da sua divisão de duas rodas no mercado brasileiro.
                    A sigla RR (comumente associada à família SR da CFMOTO, referindo-se a Sport Racing) batiza as suas
                    motocicletas superesportivas de alta performance.</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8no06qbhxSbmR-eqwbYBDkUvLZkN3RPnjqKb3vWwjZd_4QV4r1Ujw3fM&s=10"
                    alt="img2">

                <p>A CFMOTO consolidou de vez sua operação de motocicletas no Brasil com a abertura de um lote
                    expressivo de 700 novas motos para reserva. A marca foca em expansão com concessionárias físicas em
                    capitais importantes e conta com quatro pilares de vendas que estão movimentando o mercado nacional:
                    • IBEX 450: É o maior fenômeno comercial da marca por aqui, representando cerca de 80% dos
                    emplacamentos totais. Uma trail/crossover leve, ágil e muito elogiada para o off-road.
                    • IBEX 700: A irmã maior com motor de dois cilindros em linha, entregando 68 cv de potência e foco
                    em viagens mais longas.
                    • CL-C 450 & CL-C 450 Bobber: Duas variações custom de estilo clássico moderno e de média cilindrada
                    que concorrem diretamente no mercado de estilo retrô.
                    • Próximos Passos (Linha Tricilíndrica): Para os próximos meses e 2027, a marca já confirmou o
                    interesse em trazer a linha 675 (composto pelas esportivas SR/SRR e a naked NK675), que adotam
                    motores tricilíndricos de 95 cv.</p>

                <button class="btn">Ler mais</button>
            </section>

            <section class="coluna">
                <h1>Yamaha R7</h1>
                <p>chegou ao Brasil equipada com o motor CP2 bicilíndrico de 690 cc, que entrega 73,4 cv de potência e
                    6,9 kgf.m de torque.
                    Principais Características
                    • Motor CP2: 690 cc com torque linear e embreagem assistida e deslizante.
                    • Eletrônica Avançada: Acelerador eletrônico YCC-T, controle de tração, Quick Shift e modos de
                    pilotagem.
                    • Design e Ciclística: Carenagem aerodinâmica inspirada na MotoGP, suspensão invertida e painel TFT
                    de 5 polegadas com conectividade Y-Connect.
                    • Disponibilidade: Produzida em Manaus, com lançamento oficial nas concessionárias previsto para o
                    final de 2026. Também conta com a edição comemorativa Yamaha R7 70th.</p>
                <img src="https://cdn.autopapo.com.br/box/uploads/2026/04/24180347/yamaha-r7.png" alt="img3">

                <p>Muitos motociclistas se surpreendem ao saber que a gigante japonesa Yamaha e a chinesa CFMOTO possuem
                    uma joint venture oficial (Zhuzhou CF Yamaha).
                    • O foco da parceria: Essa união visa a fabricação e montagem de motocicletas em território chinês
                    para elevar a competitividade na Ásia.
                    • Desenvolvimentos independentes: Embora compartilhem esforços operacionais e logísticos, o
                    desenvolvimento de motores — como os aclamados bicilíndricos da linha 450 da CFMOTO — permanece um
                    projeto independente da fabricante chinesa.</p>

                <button class="btn">Ler mais</button>
            </section>

        </div>
    </main>

</body>

</html>