<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/H/style.css">
    <title>Meus vídeos</title>
</head>

<body>

    <main>
        <div class="container-videos">

            <div class="video-card">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/xxwI2WG6T10" title="Vídeo 1" allowfullscreen>
                    </iframe>
                </div>

                <p>Vídeo 1</p>
            </div>

            <div class="video-card">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/QLPBK1U5LO0" title="Vídeo 2" allowfullscreen>
                    </iframe>
                </div>

                <p>Vídeo 2</p>
            </div>

            <div class="video-card">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/ZnwBhq1P8uw" title="Vídeo 3" allowfullscreen>
                    </iframe>
                </div>

                <p>Vídeo 3</p>
            </div>

            <div class="video-card">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/Qvn4UodLEyg" title="Vídeo 4" allowfullscreen>
                    </iframe>
                </div>

                <p>Vídeo 4</p>
            </div>

        </div>
    </main>

</body>

</html>